@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/* typewriter */
.typewriter {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15rem solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15rem;
    /* Adjust as needed */
    animation:
        typing 4.5s steps(40, end),
        blink-caret .75s step-end infinite;
}
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}
/* spinning 3D container */
.threed-container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    background-size: 50px 50px;
    background-position: center;
    background-image: linear-gradient(to right, var(--mid-grey) 1px, transparent 1px), linear-gradient(to bottom, var(--mid-grey) 1px, transparent 1px);
}
.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 900px;
}
.threed {
    position: relative;
    z-index: 1;
    font-size: 50px;
    font-stretch: 400%;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    transform-style: preserve-3d;
}
.cuboid {
    position: relative;
    width: 500px;
    height: 70px;
    transform-style: preserve-3d;
    margin: 30px 0;
}
.cuboid .face {
    position: absolute;
    left: 0;
    top: 0;
}
.cuboid .face-front {
    width: 500px;
    height: 70px;
    background-color: black;
    color: white;
    transform: translateZ(calc(70px/2));
}
.cuboid .face-back {
    width: 500px;
    height: 70px;
    background-color: black !important;
    color: white;
    transform: translateZ(calc(70px/2 *-1)) rotateY(180deg) rotate(180deg);
}
.cuboid .face-left {
    width: 70px;
    height: 70px;
    transform: translateX(calc(70px/2 *-1)) rotateY(-90deg);
}
.cuboid .face-right {
    width: 70px;
    height: 70px;
    transform: translateX(calc(500px - 70px/2)) rotateY(90deg);
}
.cuboid .face-top {
    width: 500px;
    height: 70px;
    transform: translateY(calc(70px/2 * -1)) rotateX(90deg);
}
.cuboid .face-bottom {
    width: 500px;
    height: 70px;
    transform: translateY(calc(70px - 70px/2)) rotateX(-90deg);
}
.face {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.threed-word {
    margin: 0;
    transform: translateY(-5px);
}
.face.face-top,
.face.face-bottom {
    background: white;
    color: black;
}
.threed-location {
    position: absolute;
    margin: 0;
    font-size: 20px;
    font-stretch: 400%;
    font-weight: 400;
}

.threed-location-lat {
    top: 50%;
    left: 0vw;
    transform: rotate(-90deg) translateX(10px);
}

.threed-location-long {
    top: 50%;
    right: 0vw;
    transform: rotate(90deg) translateX(-10px);
}
/* Counters */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.counters {
    font-family: 'Roboto', sans-serif;
    /* Push to bottom */
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.counter {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}
.counters {
    padding: 40px 20px;
}
.counters h3 {
    color: black;
}
.counters .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    text-align: center;
}
.counters i {
    color: lightskyblue;
    margin-bottom: 5px;
}
.counters .counter {
    font-size: 45px;
    margin: 10px 0;
}
/* Image Carousel */
.slider-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.slider {
    height: 400px;
    width: 100vw;
    display: flex;
    perspective: 1000px;
    position: relative;
    align-items: center;
}
.box1 {
    background: url('https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}
.box2 {
    background: url('https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}
.box3 {
    background: url('https://images.pexels.com/photos/2356059/pexels-photo-2356059.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}
.box4 {
    background: url('https://images.pexels.com/photos/3274903/pexels-photo-3274903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}
.box5 {
    background: url('https://images.pexels.com/photos/3618162/pexels-photo-3618162.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}
.box6 {
    background: url('https://images.pexels.com/photos/4256852/pexels-photo-4256852.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}
.box7 {
    background: url('https://images.pexels.com/photos/1891234/pexels-photo-1891234.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-position: center center;
}
.slider [class*="box"] {
    /*   float: left; */
    overflow: hidden;
    border-radius: 20px;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    position: absolute;
}
.slider [class*="box"]:nth-child(7),
.slider [class*="box"]:nth-child(1) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.2) translate(-50%, -50%);
    top: 10%;
    z-index: 1;
}
.slider [class*="box"]:nth-child(2),
.slider [class*="box"]:nth-child(6) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.4) translate(-50%, -50%);
    top: 20%;
    z-index: 2;
}
.slider [class*="box"]:nth-child(3),
.slider [class*="box"]:nth-child(5) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.6) translate(-50%, -50%);
    top: 30%;
    z-index: 3;
}
.slider [class*="box"]:nth-child(4) {
    width: 60vw;
    height: 60vh;
    border-color: #c92026;
    color: #fff;
    transform: scale(1) translate(-50%, -50%);
    top: 50%;
    z-index: 4;
}
.slider [class*="box"]:nth-child(1) {
    left: -13%;
}

.slider [class*="box"]:nth-child(2) {
    left: -5%;
}
.slider [class*="box"]:nth-child(3) {
    left: 10%;
}
.slider [class*="box"]:nth-child(4) {
    left: 50%;
}
.slider [class*="box"]:nth-child(5) {
    left: 71%;
}
.slider [class*="box"]:nth-child(6) {
    left: 85%;
}
.slider [class*="box"]:nth-child(7) {
    left: 100%;
}
.slider .firstSlide {
    -webkit-animation: firstChild 1s;
    animation: firstChild 1s;
}
/*Animation for buyers landing page slider*/
@-webkit-keyframes firstChild {
    0% {
        left: 100%;
        transform: scale(0.2) translate(-50%, -50%);
    }

    100% {
        left: -13%;
        transform: scale(0.2) translate(-50%, -50%);
    }
}
@keyframes firstChild {
    0% {
        left: 100%;
        transform: scale(0.2) translate(-50%, -50%);
    }

    100% {
        left: -13%;
        transform: scale(0.2) translate(-50%, -50%);
    }
}
.interactive {
    height: 400px;
}
.refresh {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: system-ui;
    align-self: end;
    border: var(--border);
    padding: 0.5rem 4rem;
    margin-top: -4rem;
    transition: background 0.25s;
}

.idea-generator {
    max-width: 500px;
    position: relative;
}
.results {
    font-size: 2rem;
    border: var(--border);
    padding: 3rem 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    align-self: end;
    background: white;
    box-shadow: 0 0 40px -10px silver;
}

.idea-container h1 {
    font-size: 1rem;
    display: inline-block;
    background: linear-gradient(-45deg, blue, purple, green);
    margin-top: 2rem;
    margin-bottom: -1rem;
    border: var(--border);
    padding: 1rem;
    text-align: center;
    z-index: 1;
}

.idea-container {
    font-family: 'Alumni Sans';
    font-size: 20px;
    display: grid;
    place-items: center;
    height: max-content;
    padding: 1rem;
}
.idea-container p {
    z-index: 0;
}
.results .idea {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.idea-container a {
    position: relative;
    display: inline-block;
    padding: 20px;
    color: purple;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    overflow: hidden;
    z-index: 0;
}
.idea-container a:hover {
    background: purple;
    color: #050801;
    text-decoration: none;
    box-shadow: 0 0 5px purple,
                0 0 25px purple,
                0 0 50px purple,
                0 0 200px purple;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.idea-container a:nth-child(1) {
    filter: hue-rotate(270deg);
}
.idea-container a:nth-child(2) {
    filter: hue-rotate(110deg);
}
.idea-container a span{
    position: absolute;
    display: block;
}
.idea-container a span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,purple);
    animation: animate1 1s linear infinite;
}
@keyframes animate1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}
.idea-container a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,purple);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes animate2 {
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}
.idea-container a span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,purple);
    animation: animate3 1s linear infinite;
    animation-delay: 0.50s;
}
@keyframes animate3 {
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}
.idea-container a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,purple);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes animate4 {
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}