/* @media screen and (max-width: 480px) {
    pass;
  
} */

body {
    background-color: rgb(243, 242, 239);
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.card {
    width: 13rem;
}

.daily {
    border-radius: 15px;
    height: 12rem;
}

.side {
    background-color: transparent !important;
}

.side .card {
    background-color: transparent !important;
}

.hidden {
    display: none;
}

.card {
    border-radius: 15px;
    -webkit-box-shadow: 15px 16px 34px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 15px 16px 34px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 15px 16px 34px -6px rgba(0, 0, 0, 0.75);
}


.card p {
    color: black;
}

.icon-tray {
    padding: .5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.lang-icons {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1rem;
}

.lang-icons .bx {
    font-size: 2rem;
}

.html {
    color: #e34c27;
}

.css {
    color: #4266f5;
}

.javascript {
    color: #f0d44c;
}

.python {
    color: #346e9e;
}

.java {
    color: #f7971a;
}

.github-commit {
    text-align: center;
    margin: auto;
}

.headshot {
    border-radius: 15px;
    /* height: 275px; */
}

.fs-small {
    font-size: 11pt;
}

.icon {
    height: 20px;
}

.project-icon {
    height: 100px;
}

.bg-fafafa {
    background-color: #fafafa;
}