/* @media screen and (max-width: 480px) {
    pass;
  
} */

body {
    background-color: rgb(243, 242, 239);
}
.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.card {
    width: 13rem;
}
.daily {
    border-radius: 15px;
    /* height: 368px */
}
.side {
    background-color: transparent !important;
}
.hidden {
    display: none;
}
.icon-tray {
    padding: .5rem;
}
.lang-icons {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 1rem;
}
.lang-icons .bx {
    font-size: 1.5rem;
}
.html {
  color: #e34c27;
}
.css {
  color: #4266f5;
}
.javascript {
  color: #f0d44c;
}
.github-commit {
    text-align: center;
    margin: auto;
}
.headshot {
    border-radius: 15%;
    /* height: 275px; */
}
.fs-small {
    font-size: 11pt;
}
.icon {
    height: 20px;
}
.project-icon {
    height: 100px;
}
.bg-fafafa {
    background-color: #fafafa;
}