:root {
    --light-blue: rgb(32, 18, 95);
    --dark-blue: rgb(204, 100, 223);
    --violet: rgb(119, 188, 236);
    
    --background-left: rgb(29, 33, 68);
    --background-right: rgb(30, 25, 47);
    
    --conic-gradient: conic-gradient(
      var(--dark-blue), 
      var(--violet), 
      var(--light-blue),
      var(--dark-blue)
    );
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes pulse {
    from, 20%, 40%, 80%, to {
      transform: scale(1);
    }
    
    10%, 60% {
      transform: scale(1.1);
    }
  }
  
  
  
  #app {
    display: grid;
    height: 100%;
    place-items: center;
    position: relative;
    width: 100vw;
    z-index: 2;
  }

  #profiles {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(10px, 0.8vw, 20px);
    justify-content: center;
    margin-left: 80px;
    width: clamp(600px, 80vw, 1400px);
  }
  
  #profiles > .profile {
    aspect-ratio: 7 / 8;
    backdrop-filter: blur(0.75vw);
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 1vw;
    flex-direction: column;
    transition: background-color 250ms;
    width: calc(25% - clamp(10px, 0.8vw, 20px));
  }
  
  #profiles > .profile:hover {
    backdrop-filter: blur(1vw);
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .profile > .profile-content {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - clamp(8px, 1vw, 12px));
    justify-content: center;
    padding: clamp(8px, 1vw, 12px);
  }

  
  .profile > .profile-content > .profile-pic {
    aspect-ratio: 1;
    border: clamp(3px, 0.4vw, 5px) solid white;
    border-radius: 100%;
    flex-shrink: 0;
    height: 70%;
    position: relative;
  }
  
  .profile > .profile-content > .profile-pic > .profile-pic-image {
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 100%;
    height: calc(100% - clamp(10px, 1.5vw, 20px));
    margin: clamp(5px, 0.75vw, 10px);
    object-fit: cover;
    width: calc(100% - clamp(10px, 1.5vw, 20px));
  }
  
  .profile > .profile-content > .profile-name {
    font-family: 'Rubik', sans-serif;
    font-size: clamp(1em, 2vw, 2em);
    margin: 0px;
    text-align: center;
  }
  
.profile > .profile-content > .profile-name a {
    color: rgb(24, 233, 24);
}