select {
    height: 2.5rem;
    width: 10rem;
}

.daily {
    border-radius: 15px;
    height: 15rem;
    padding: 1.5rem;
    backdrop-filter: blur(1vw);
    background-color: rgba(255, 255, 255, 0.1);
}