@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

:root {
    --dark-purple: rgb(15, 1, 19);
    --neon-blue: rgb(128, 234, 255);
    --neon-pink: rgb(255, 117, 248);
    --size: 6;
    --unit: calc((var(--size) / 100) * 1vmin);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
}

  
main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
  }

a {
    text-decoration: none;
}
