@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
body {
  background-color: black;
}

/* <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet"> */

#inside {
  font-family: 'Work Sans', sans-serif;
  color: rgb(72, 184, 228);
  position: absolute;
  z-index: 1;
  overflow: show;
  margin: auto;
  top: -20rem;
  left: 40%;
  bottom: 0;
  right: 0;
  font-size: 10rem;
  text-shadow: 4px 4px 10px rgb(5, 53, 71), 
               4px 4px 20px rgb(14, 71, 94), 
               4px 4px 30px rgb(37, 48, 53), 
               4px 4px 40px rgb(3, 154, 214);
}